.bg{
    background-color: brown;
}
.box{
    background-color: gray;
    width: 100px;
    height: 200px;
    overflow-x: scroll;
    overflow-x: hidden;
}
.text{
    background-color: orange;
    width: 500px;
    height: 50px;
}
.text1{
    background-color: whitesmoke;
    width: 500px;
    height: 50px;
}
.text2{
    background-color: green;
    width: 500px;
    height: 50px;
}
.i{
    text-align: center;
}
