.container{
    width: 300px;
    height: 500px;
    border: 10px solid black;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
}
.a{
    background-color:green;
    grid-row: 1/4;
}
.b{
    background-color: chartreuse;
    grid-column: 2/3;
}
.c{
    background-color: darkblue;
}
.d{
    background-color: blueviolet;
}
